$primary: #fff2e2;
$secondary: #ded1c2;
$tertiary: #bdb1a2;
$text: #bdb1a2;
$tertiary-light: rgba($tertiary, 0.25);
$text-light: rgba($text, 0.25);
$topbar-color: rgba(0,0,0,0);
$clock-color: $primary;
