@use '' as *;

.theme-dark, .theme-light {
    &, 
    span:not([class*="username"]):not([class*="mention"]):not([style*="color"]),
    div:not([class*="username"]):not([style*="color"]) {
        color: #{$text} !important;
    }
}
/* Specifically re-allow the 'User Settings' text if it gets caught */
[class*="contents"] {
    color: inherit;
}
._8a031a135bfcb9ba-container {
  background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */
}

._36d072eab2b2e737-scroller {
  background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */
}

.e9e3ed8b8badfe05-contentHeader {

  background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */

}



._6131ab3dbe0affed-scroller {

  background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */
}

 .c38106a3f0c3ca76-title {

  background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */
}

 .e6b7699ce8339e1c-privateChannels {

  background-color: #{$secondary} !important;  /* Replace #ff0000 with your desired hex color */

}


.d125d22cdfd32cfe-content {

 background-color: #{$primary} !important; /* Friends panel */

}

._36d072eab2b2e737-scrollerInner {

  background-color: #{$secondary} !important; /* Replace #ff0000 with your desired hex color */

}

._740174f3d6a2c8fe-themedBackground {

  background-color: #{$primary} !important;/* Replace #ff0000 with your desired hex color */
  }

._9293f6b2fc12398a-themed
{

      background-color: #{$secondary} !important; /* Replace #ff0000 with your desired hex color */
  }

  .ef3116c2da186559-itemsContainer {
    background-color: #{$secondary} !important; /* Replace #ff0000 with your desired hex color */

  }

   ._37e49614b9f110a9-container {
    background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */

  }

   .d125d22cdfd32cfe-none {
    background-color: #{$primary} !important; /* Servers panel */

  }

 ._7f9c030b25536e94-banner {
    background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */

  }

  ._99e7cad8d4c55236-scroller {

    background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */
  }



.f75fb00fb7356cbe-form {


    background-color: #{$primary} !important; /* Replace #ff0000 with your desired hex color */

}

._5e434347c823b592-sidebar:after {
    content: ""; /* Required for :after to show up */
    background-color: #{$primary} !important;
    display: block;
    /* Add your width, height, or positioning here */
}

.e6b7699ce8339e1c-searchBar {
background-color: #{$primary} !important;
}



[data-list-item-id*="__nitro"] {
  display: none;
}
[data-list-item-id*="__shop"] {
  display: none;
}
[aria-label="Send a gift"]{
  display: none;
}
